{$DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		# Needed for the Google sign-in popup
		Cross-Origin-Opener-Policy same-origin-allow-popups
	}
	reverse_proxy flightlog:8081
}
